:root {
  --products-area-container-width: 500px;
  --default-spacing: 1rem;
  --topbar-height: 50px;
  --default-border-color: rgba(34, 36, 38, 0.15);
}

.app-container {
  width: 100%;
}

.app-container .topbar {
  width: 100%;
  padding: var(--default-spacing);
  background-color: #1b1c1d;
  color: white;
  height: var(--topbar-height);
  display: flex;
}

.app-container .topbar .widgets {
  display: flex;
}

.app-container .topbar .widgets .timestamp,
.app-container .topbar .widgets .user {
  padding-left: var(--default-spacing);
  padding-right: var(--default-spacing);
}

.app-container .products-current-sale-container {
  width: 100%;
  padding: var(--default-spacing);
  display: flex;
}

.app-container .products-current-sale-container .current-sale {
  width: calc(100% - var(--products-area-container-width));
  margin-left: var(--products-area-container-width);
}

.app-container .products-current-sale-container .current-sale .cart {
  height: calc(100vh - (var(--topbar-height) + 80px));
}

.app-container .products-current-sale-container .current-sale .cart table .input {
  max-width: 50px;
}

.app-container .products-current-sale-container .current-sale .checkout-footer {
  height: 50px;
  display: flex;
}

.app-container .products-current-sale-container .current-sale .checkout-footer button {
  width: 50%;
}

.app-container .products-current-sale-container .current-sale .checkout-footer button#btnCharge {
  margin-right: var(--default-spacing);
}

.app-container .products-current-sale-container .current-sale .checkout-footer button#btnCheque {
  margin-left: var(--default-spacing);
}

.app-container .products-current-sale-container .products {
  width: var(--products-area-container-width);
  padding: var(--default-spacing);
  border-right: 1px solid var(--default-border-color);
  position: fixed;
  top: var(--topbar-height);
  left: 0;
  bottom: 0;
}

.app-container .products-current-sale-container .products .search-container {
  margin-bottom: var(--default-spacing);
}

.app-container .products-current-sale-container .products .display-search-results-wrapper {
  overflow-y: auto;
}

.app-container .products-current-sale-container .products .display-search-results-wrapper .product-item {
  padding: 2rem;
  font-size: 2rem;
  margin-right: var(--default-spacing);
  margin-bottom: var(--default-spacing);
}
