:root {
  --products-area-container-width: 500px;
  --default-spacing: 1rem;
  --topbar-height: 50px;
  --default-border-color: rgba(34, 36, 38, 0.15);
}

.spacer {
  flex: 1 1 1px;
}

.red {
  background: red;
  color: white;
}

.hide {
  display: none !important;
}

.selected {
  background-color: black;
  color: white;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #374dc7;
  z-index: 500;
}

.login-page .login-form-wrapper {
  width: 400px;
  background: white;
  box-shadow: 0 0 20px rgba(34, 36, 38, 0.15);
  padding: calc(var(--default-spacing) * 2);
}

#printCheckoutReceiptModal .header {
  display: flex;
  justify-content: center;
}

#printCheckoutReceiptModal .content {
  display: flex;
  justify-content: center;
}

#printCheckoutReceiptModal .content button {
  margin: 2rem;
}

.topbar {
  width: 100%;
  padding: var(--default-spacing);
  background-color: #1b1c1d;
  color: white;
  display: flex;
  align-items: center;
}

.topbar .app-name {
  font-size: 1.2rem;
}

.topbar .app-name #menuBars {
  cursor: pointer;
}

.topbar .widgets {
  display: flex;
}

.topbar .widgets .timestamp,
.topbar .widgets .user {
  padding-left: var(--default-spacing);
  padding-right: var(--default-spacing);
  display: flex;
  align-items: center;
}

.app-container {
  width: 100%;
  position: relative;
}

.app-container .inner-page {
  position: fixed;
  top: var(--topbar-height);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: white;
  padding: var(--default-spacing);
}

.app-container .inner-page .btnCreateNew {
  margin-bottom: var(--default-spacing);
}

.app-container .inner-page > .input > input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.app-container .inner-page table {
  border-radius: 0;
}

.app-container .inner-page table tr {
  cursor: pointer;
}

.app-container .inner-page.product-page .products-list-container {
  display: flex;
  overflow-y: auto;
  height: calc(100vh - 200px);
}

.app-container .inner-page.product-page .products-list-container .reorder-level-reached {
  color: white;
  font-weight: bold;
  background-color: tomato;
}

.app-container .inner-page.report-page {
  z-index: 500;
}

.app-container .inner-page.report-page .report-inner-page-container .report-display-container {
  max-height: calc( 100vh - (var(--topbar-height) + var(--default-spacing) * 2 + 124px));
  overflow-y: auto;
}

.app-container .inner-page.report-page .report-inner-page-container .report-display-container tr {
  cursor: default;
}

.app-container .inner-page.receipt-page .search-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: var(--default-spacing);
}

.app-container .inner-page.receipt-page .search-container .field {
  padding-right: var(--default-spacing);
}

.app-container .inner-page.receipt-page .receipt-inner-container {
  display: flex;
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-left {
  width: 300px;
  max-height: calc(100vh - (120px + var(--topbar-height)));
  overflow-y: auto;
  border-right: 1px solid var(--default-border-color);
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-left .receiptTimestamps {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.7rem var(--default-spacing);
  border-bottom: 1px solid var(--default-border-color);
  cursor: pointer;
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-left .receiptTimestamps:not(.selected):hover {
  background: var(--default-border-color);
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right {
  width: calc(100vw - 200px);
  padding-left: var(--default-spacing);
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right .recipt-plus-button-container {
  position: relative;
  width: 400px;
  margin-left: 2rem;
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right .recipt-plus-button-container > button {
  position: absolute;
  right: var(--default-spacing);
  top: var(--default-spacing);
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right .recipt-plus-button-container .actual-receipt-platform {
  width: inherit;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: var(--default-spacing);
  max-height: calc(100vh - (120px + var(--topbar-height)));
  overflow-y: auto;
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right .recipt-plus-button-container .actual-receipt-platform .about-company,
.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right .recipt-plus-button-container .actual-receipt-platform .footer {
  text-align: center;
  padding-top: var(--default-spacing);
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right .recipt-plus-button-container .actual-receipt-platform table {
  width: 100%;
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right .recipt-plus-button-container .actual-receipt-platform table tr th:first-child {
  text-align: left !important;
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right .recipt-plus-button-container .actual-receipt-platform .table-checkout-products td:nth-child(n + 2) {
  text-align: center;
}

.app-container .inner-page.receipt-page .receipt-inner-container .receipt-right .recipt-plus-button-container .actual-receipt-platform .footer span {
  display: block;
}

.app-container .products-current-sale-container {
  width: 100%;
  padding: var(--default-spacing);
  display: flex;
  padding-top: calc(var(--topbar-height) + var(--default-spacing));
}

.app-container .products-current-sale-container .current-sale {
  width: calc(100% - var(--products-area-container-width));
  margin-left: var(--products-area-container-width);
}

.app-container .products-current-sale-container .current-sale .cart {
  height: calc( 100vh - calc( var(--topbar-height) + var(--default-spacing) * 3 + 50px + 30px ));
  overflow-y: auto;
}

.app-container .products-current-sale-container .current-sale .cart table th:nth-child(n + 2),
.app-container .products-current-sale-container .current-sale .cart table td:nth-child(n + 2) {
  text-align: center;
}

.app-container .products-current-sale-container .current-sale .cart table th {
  font-size: 1.2rem;
}

.app-container .products-current-sale-container .current-sale .cart table td {
  font-weight: bold;
  font-size: 1.1rem;
}

.app-container .products-current-sale-container .current-sale .cart table .input {
  max-width: 50px;
}

.app-container .products-current-sale-container .current-sale .total-container {
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--default-border-color);
}

.app-container .products-current-sale-container .products {
  width: var(--products-area-container-width);
  padding: var(--default-spacing);
  border-right: 1px solid var(--default-border-color);
  position: fixed;
  top: var(--topbar-height);
  left: 0;
  bottom: 0;
}

.app-container .products-current-sale-container .products .menu {
  margin-bottom: var(--default-spacing);
}

.app-container .products-current-sale-container .products .search-container {
  margin-bottom: var(--default-spacing);
}

.app-container .products-current-sale-container .products .display-search-results-wrapper {
  overflow-y: auto;
  height: calc( 100vh - calc( 60px + var(--topbar-height) + var(--default-spacing) * 3 + 38px + 50px ) - var(--default-spacing));
  margin-bottom: var(--default-spacing);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.app-container .products-current-sale-container .products .display-search-results-wrapper > h2 {
  width: 100%;
  align-self: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.app-container .products-current-sale-container .products .display-search-results-wrapper .product-item {
  padding: var(--default-spacing);
  width: 140px;
  height: 100px;
  margin-right: var(--default-spacing);
  margin-bottom: var(--default-spacing);
}

.app-container .products-current-sale-container .products .checkout-holder {
  height: 50px;
  display: flex;
}

.app-container .products-current-sale-container .products .checkout-holder button {
  width: 50%;
}
