:root {
  --products-area-container-width: 500px;
  --default-spacing: 1rem;
  --topbar-height: 50px;
  --default-border-color: rgba(34, 36, 38, 0.15);
}

.spacer {
  flex: 1 1 1px;
}

.red {
  background: red;
  color: white;
}

.hide {
  display: none !important;
}

.selected {
  background-color: black;
  color: white;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #374dc7;
  z-index: 500;

  .login-form-wrapper {
    width: 400px;
    // height: 250px;
    background: white;
    box-shadow: 0 0 20px rgba(34, 36, 38, 0.15);
    padding: calc(var(--default-spacing) * 2);
  }
}

#printCheckoutReceiptModal {
  .header {
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    justify-content: center;

    button {
      margin: 2rem;
    }
  }
}

.topbar {
  width: 100%;
  padding: var(--default-spacing);
  background-color: #1b1c1d;
  color: white;
  // height: var(--topbar-height);
  display: flex;
  align-items: center;

  .app-name {
    font-size: 1.2rem;
    #menuBars {
      cursor: pointer;
    }
  }

  .widgets {
    display: flex;

    .timestamp,
    .user {
      padding-left: var(--default-spacing);
      padding-right: var(--default-spacing);
      display: flex;
      align-items: center;
    }
  }
}

.app-container {
  width: 100%;
  position: relative;

  .inner-page {
    position: fixed;
    top: var(--topbar-height);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: white;
    padding: var(--default-spacing);

    .btnCreateNew {
      margin-bottom: var(--default-spacing);
    }

    & > .input > input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    table {
      border-radius: 0;
      tr {
        cursor: pointer;
      }
    }

    &.user-page {
    }

    &.product-page {
      .products-list-container {
        display: flex;
        overflow-y: auto;
        height: calc(100vh - 200px);

        .reorder-level-reached {
          color: white;
          font-weight: bold;
          background-color: tomato;
        }
      }
    }
    &.report-page {
      z-index: 500;
      .report-inner-page-container {
        .report-display-container {
          max-height: calc(
            100vh - (var(--topbar-height) + var(--default-spacing) * 2 + 124px)
          );
          overflow-y: auto;

          tr {
            cursor: default;
          }
        }
      }
    }
    &.receipt-page {
      .search-container {
        display: flex;
        width: 100%;
        align-items: center;
        padding-bottom: var(--default-spacing);

        .field {
          padding-right: var(--default-spacing);
        }
      }

      .receipt-inner-container {
        display: flex;
        .receipt-left {
          width: 300px;
          max-height: calc(100vh - (120px + var(--topbar-height)));
          overflow-y: auto;
          border-right: 1px solid var(--default-border-color);

          .receiptTimestamps {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0.7rem var(--default-spacing);
            border-bottom: 1px solid var(--default-border-color);
            cursor: pointer;

            &:not(.selected):hover {
              background: var(--default-border-color);
            }
          }
        }
        .receipt-right {
          width: calc(100vw - 200px);
          padding-left: var(--default-spacing);

          .recipt-plus-button-container {
            position: relative;
            width: 400px;
            margin-left: 2rem;
            &>button {
              position: absolute;
              right: var(--default-spacing);
              top: var(--default-spacing);
            }
            .actual-receipt-platform {
              width: inherit;
              margin: 0 auto;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
              padding: var(--default-spacing);
              max-height: calc(100vh - (120px + var(--topbar-height)));
              overflow-y: auto;
  
              .about-company,
              .footer {
                text-align: center;
                padding-top: var(--default-spacing);
              }
  
              table {
                width: 100%;
                tr {
                  th:first-child {
                    text-align: left !important;
                  }
                }
              }
              .table-checkout-products {
                td:nth-child(n + 2) {
                  text-align: center;
                }
              }
  
              .footer span {
                display: block;
              }
            }
          }

        }
      }
    }
  }

  .products-current-sale-container {
    width: 100%;
    padding: var(--default-spacing);
    display: flex;
    padding-top: calc(var(--topbar-height) + var(--default-spacing));

    .current-sale {
      width: calc(100% - var(--products-area-container-width));
      margin-left: var(--products-area-container-width);

      .cart {
        height: calc(
          100vh -
            calc(
              var(--topbar-height) + var(--default-spacing) * 3 + 50px + 30px
            )
        );
        overflow-y: auto;
        // border: 1px solid black;

        table {
          th:nth-child(n + 2),
          td:nth-child(n + 2) {
            text-align: center;
          }

          th {
            font-size: 1.2rem;
          }

          td {
            font-weight: bold;
            font-size: 1.1rem;
          }

          .input {
            max-width: 50px;
          }
        }
      }

      .total-container {
        height: 50px;
        display: flex;
        align-items: center;
        border-top: 1px solid var(--default-border-color);
      }
    }

    .products {
      width: var(--products-area-container-width);
      padding: var(--default-spacing);
      border-right: 1px solid var(--default-border-color);
      position: fixed;
      top: var(--topbar-height);
      left: 0;
      bottom: 0;

      .menu {
        margin-bottom: var(--default-spacing);
      }

      .search-container {
        margin-bottom: var(--default-spacing);
      }
      .display-search-results-wrapper {
        overflow-y: auto;
        height: calc(
          100vh -
            calc(
              60px + var(--topbar-height) + var(--default-spacing) * 3 + 38px +
                50px
            ) - var(--default-spacing)
        );
        margin-bottom: var(--default-spacing);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        & > h2 {
          width: 100%;
          align-self: center;
          text-align: center;
          color: rgba(0, 0, 0, 0.5);
        }

        .product-item {
          padding: var(--default-spacing);
          width: 140px;
          height: 100px;
          margin-right: var(--default-spacing);
          margin-bottom: var(--default-spacing);
        }
      }

      .checkout-holder {
        height: 50px;
        display: flex;

        button {
          width: 50%;
        }
      }
    }
  }
}
