:root {
  --products-area-container-width: 400px;
  --default-spacing: 1rem;
  --topbar-height: 56px;
  --default-border-color: rgba(34, 36, 38, 0.15);
}

.spacer {
  flex: 1 1 1px;
}

.red {
  background: red;
  color: white;
}

.hide {
  display: none !important;
}

.selected {
  background-color: black;
  color: white;
}

.ui.menu {
  border: none;
}

.sidebar.menu {
  a.item {
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #1C1A1C;
  z-index: 500;

  .login-form-wrapper {
    width: 400px;
    background: white;
    box-shadow: 0 0 20px rgba(34, 36, 38, 0.15);
    padding: calc(var(--default-spacing) * 2);
  }
}

#printCheckoutReceiptModal {
  .header {
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    justify-content: center;

    button {
      margin: 2rem;
    }
  }
}

.topbar {
  width: 100%;
  padding-right: var(--default-spacing);
  background-color: #1b1c1d;
  color: white;
  display: flex;
  align-items: center;
  height: var(--topbar-height);

  .app-name {
    font-size: 1.2rem;
    display: flex;
    width: 200px;
    align-items: center;

    #menuBars {
      cursor: pointer;
      height: var(--topbar-height);
      width: var(--topbar-height);
      background: black;
      padding: 1.4rem 1rem;
      margin-right: var(--default-spacing);
    }
  }

  .widgets {
    display: flex;

    .timestamp,
    .user {
      padding-left: var(--default-spacing);
      padding-right: var(--default-spacing);
      display: flex;
      align-items: center;

      #displayUsername {
        margin-left: .5rem;
      }
    }
  }
}

.app-container {
  width: 100%;
  position: relative;

  .inner-page {
    position: fixed;
    top: var(--topbar-height);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: white;
    padding: var(--default-spacing);

    .btnCreateNew {
      margin-bottom: var(--default-spacing);
    }

    & > .input > input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    table {
      border-radius: 0;
      tr {
        cursor: pointer;
      }
    }

    &.user-page {
    }

    &.product-page {
      .products-list-container {
        display: flex;
        overflow-y: auto;
        height: calc(100vh - 200px);

        .reorder-level-reached {
          color: white;
          font-weight: bold;
          background-color: tomato;
        }
      }
    }
    &.report-page {
      z-index: 500;
      .report-inner-page-container {
        .report-display-container {
          max-height: calc(
            100vh - (var(--topbar-height) + var(--default-spacing) * 2 + 124px)
          );
          overflow-y: auto;

          tr {
            cursor: default;
          }
        }
      }
    }
    &.receipt-page {
      .search-container {
        display: flex;
        width: 100%;
        align-items: center;
        padding-bottom: var(--default-spacing);

        .field {
          padding-right: var(--default-spacing);
        }
      }

      .receipt-inner-container {
        display: flex;
        .receipt-left {
          width: 300px;
          max-height: calc(100vh - (120px + var(--topbar-height)));
          overflow-y: auto;
          border-right: 1px solid var(--default-border-color);

          .receiptTimestamps {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0.7rem var(--default-spacing);
            border-bottom: 1px solid var(--default-border-color);
            cursor: pointer;

            &:not(.selected):hover {
              background: var(--default-border-color);
            }
          }
        }
        .receipt-right {
          width: calc(100vw - 200px);
          padding-left: var(--default-spacing);

          .recipt-plus-button-container {
            position: relative;
            width: 400px;
            margin-left: 2rem;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            // &>button {
            //   position: absolute;
            //   right: var(--default-spacing);
            //   top: var(--default-spacing);
            // }

            .receipt-actions-container {
              border-bottom: 2px solid var(--default-border-color);
              padding: var(--default-spacing);
              display: flex;

              button {
                min-width: 100%;
              }
            }

            .actual-receipt-platform {
              width: inherit;
              margin: 0 auto;
              padding: var(--default-spacing);
              max-height: calc(100vh - (120px + var(--topbar-height)));
              overflow-y: auto;
  
              .about-company,
              .footer {
                text-align: center;
                padding-top: var(--default-spacing);
              }
  
              table {
                width: 100%;
                tr {
                  th:first-child {
                    text-align: left !important;
                  }
                }
              }
              .table-checkout-products {
                td:nth-child(n + 2) {
                  text-align: center;
                }
              }
  
              .total-container {
                font-weight: bold;
                font-size: 1.3rem;
              }

              .footer span {
                display: block;
              }
            }
          }

        }
      }
    }

    .discount-inner-container {
      width: 600px;
      margin: 0 auto;
    }
  }

  .products-current-sale-container {
    width: 100%;
    // padding: var(--default-spacing);
    display: flex;
    padding-top: var(--topbar-height);

    .current-sale {
      width: calc(100% - var(--products-area-container-width));
      margin-left: var(--products-area-container-width);
      
      .current-sales-header {
        display: flex;
        align-items: center;
        border-bottom: 2px solid var(--default-border-color);
        height: 72px;
        position: relative;

        #currentItemDiscountContainer {
          position: absolute;
          right: -100px;
          top: 0;
          bottom: 0;
          width: 180px;
          border-left: 2px solid var(--default-border-color);
          display: flex;
          align-items: center;
          transition: right 1s ease-in;

          input {
            text-align: center;
            height: inherit;
          }
        }
        
        h2 {
          padding-left: var(--default-spacing);
          margin: 0;
        }
      }

      .cart {
        height: calc(
          100vh -
            calc(
              var(--topbar-height) + var(--default-spacing) * 3 + 70px + 30px
            )
        );
        padding-top: calc(var(--default-spacing) - 3px);
        overflow-y: auto;

        table {
          margin-bottom: 0;

          th:nth-child(n + 2),
          td:nth-child(n + 2) {
            text-align: center;
            margin-bottom: 0;
          }

          th:first-child,
          td:first-child {
            padding-left: var(--default-spacing) !important;
          }

          th {
            font-size: 1.2rem;
            border-width: 2px;
          }

          td {
            font-weight: bold;
            font-size: 1.1rem;
          }
        }

        .discountRowContainer {
          display: flex;
          font-size: 1.1rem;
          font-weight: bold;
          align-items: center;
          border-top: 2px solid var(--default-border-color);
          padding: var(--default-spacing);
        }

        .input>input {
          max-width: 60px;
          text-align: center !important;
        }
      }

      .total-container {
        height: 70px;
        display: flex;
        align-items: center;
        border-top: 1px solid var(--default-border-color);
        padding-left: var(--default-spacing);
        padding-right: var(--default-spacing);
      }
    }

    .products {
      width: var(--products-area-container-width);
      padding-bottom: var(--default-spacing);
      border-right: 2px solid #1b1c1d;
      position: fixed;
      top: var(--topbar-height);
      left: 0;
      bottom: 0;

      .menu-actions {
        display: flex;

        button {
          border-radius: 0;
          padding: 2rem;
          margin: 0;
          width: 50%;
        }
      }

      .search-container {
        margin-bottom: var(--default-spacing);

        input {
          border-radius: 0;
          border-width: 0 0 2px 0;
        }
      }
      .display-search-results-wrapper {
        overflow-y: auto;
        height: calc(100vh - (var(--topbar-height) + 72px + (48px * 2) + 35px - 15px));
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
        margin-top: -15px;

        & > h2 {
          width: 100%;
          align-self: center;
          text-align: center;
          color: rgba(0, 0, 0, 0.5);
          margin-top: 2rem;
        }

        .product-item {
          padding: var(--default-spacing);
          height: 100px;
          width: calc((var(--products-area-container-width) / 3) - 2px);
          margin: 0 0 1px 0;
          border-radius: 0;
          font-size: 1rem;
        }
      }

      .checkout-holder {
        display: flex;

        button {
          // width: 50%;
          border-radius: 0;
          margin: 0;
          padding: 2rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}
