@page {
  margin: 0mm 8mm 0mm 0mm;
  padding: 0mm;
}

html,
body,
table,
th,
tr,
td {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

hr {
  border-width: 0;
  border-top: 1px dashed black;
}

.spacer {
  flex: 1 1 1px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container .about-company {
  text-align: center;
}

.container .table-receipt-preamble {
  width: 100%;
  margin-top: 1rem;
}

.container .table-receipt-preamble table {
  width: inherit;
}

.container .table-container {
  width: 100%;
}

.container .table-container table {
  width: inherit;
}

.container .table-container table th:first-child {
  text-align: left;
}

.container .table-container table td:nth-child(n+2) {
  text-align: center;
}

.container .total-container {
  display: flex;
  width: 100%;
}

.container .total-container table {
  width: inherit;
}

.container .total-container table .total {
  font-weight: bold;
  font-size: 1.3rem;
}

.container .money-issues {
  width: 100%;
}

.container .footer {
  text-align: center;
  margin-top: 1rem;
}
